@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

.home-container{
  @apply p-30 border border-transparent
  sm:flex sm:flex-col sm:gap-10;
}

.app-heading-link{
  @apply text-gray-600 hover:text-white text-4xl
}

.btn-link{
  @apply lg:hidden;
}

.btn, .btn-redirect {
  @apply py-2 px-4 font-bold text-white bg-blue-600 
  rounded-full hover:bg-blue-700 cursor-pointer;
}

.btn {
  @apply lg:hidden;
}

.sign-out-btn {
  @apply py-2 px-4 bg-slate-900  hover:border-2 hover:border-cyan-700
   text-white font-bold rounded-xl cursor-pointer absolute top-6 right-6;
}

